* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 100px 140px;
  row-gap: 48px;
  column-gap: 24px;
}

.gallery img {
  width: 360px;
  height: 300px;
}

#name-input {
  width: 360px;
  height: 40px;
}
